/* GENERAL */
#main{
    width:80%;
    height:auto;
    margin:0 auto;
    border:1px dotted lightsteelblue;
    border-radius: 0 15px 15px 0;
    padding:10px;
}

/*IMAGES */
.miniatures{
    border:1px dotted black;margin: 5px;width: 150px;display:inline-block;word-wrap:break-word;vertical-align:top;padding: 20px;
}

#milieu{
    border: 1px solid aqua;
    padding:2em;	
    min-width:300px;
}
#haut{

    min-width:300px;
    border: 1px solid lightgreen;
    padding: 0 1em 1em 3em;
}

/* Formulaire de connexion Espace Client*/
#connect p{
    text-align:center;
}

/* FORMULAIRE et bouton de connexion */
p.adminmedia{
    text-align:center;
}
button.adminmedia {
    margin: auto;
    font-family: "Courier New",Courier,monospace;
    font-size: 1em;
    color: #4682B4;
    padding: .7em;
    border: 1px solid #B0C4DE;
    border-radius: 1em;	


}
button.adminmedia:hover{
    background-color:LightSlateGray;
    color:LightCyan;
    border:1px LightSlateGray solid;
}

input{
    font-family: 'Cuprum', sans-serif;
    font-size:16px;	
    color:SteelBlue;
}

/* bouton centré */
input[type="submit"]{
    clear:both;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-family:"Courier New", Courier, monospace;
    font-size:1em;
    padding:7px 20px;
    border:1px LightSteelBlue solid;
    border-radius:5px;
}
input[type="submit"]:hover{
    border:1px LightSlateGray solid;
    background-color:LightSlateGray;
    color:LightCyan;
}
#connexion input{
    display:block;
    margin:1em auto;
    padding:.7em;
    border:1px LightSteelBlue solid;
    border-radius:1em;
}

/* Menu horizontal */
nav{
    border:none;
    border:0;
    margin:0;
    padding:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:.750em;
    font-weight:bold;
    width:100%; 
}

nav ul{
    height:38px;
    width:100%;
    list-style:none;
    margin:0;
    padding:0;
}

nav li{
    float:left;
    margin:0;
    padding:0;
    width: 20%; /*16.6666666667%;*/
}

nav li a, nav li.rubr{
    color:#000000;
    display:block;
    line-height:38px;
    margin:0;
    padding:0;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    font-size:1.4em;
    background-image:url(../img/bg2.jpg);
    background-repeat:repeat-x;
    background-position:top;
    border-color:#000000; 
    border-right-style:solid;
    border-width:1px; 
}

#lidroite{
    float:left;
    padding:0px;
    width: 20%; /*16.6666666677%;*/
    background-image:url(../img/bg2.jpg);
    background-repeat:repeat-x;
    background-position:top;
    border-width:0px; 
}		
nav li a:hover, nav ul li:hover a, nav li.rubr{
    background-image:url(../img/bg1.jpg);
    background-repeat:repeat-x;
    background-position:top;
    color:#FFFFFF;
    text-decoration:none;
}

/* DÉBUT Sub MENU */
nav li ul{
    background:#333333;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:205px;
    z-index:200;
}

nav li:hover ul{
    display:block;
}

nav li li {
    background:url('../img/sub_sep.gif') bottom left no-repeat;	
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:205px;
}

nav li:hover li a{
    background:none;
}

nav li ul a{
    display:block;
    height:38px;
    font-size:.750em; 
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}

nav li ul a:hover, nav li ul li:hover a{
    background:#BC0016;
    border:0px;
    color:#ffffff;
    text-decoration:none;
}
/* FIN Sub MENU */

nav p{
    clear:left;
}